<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <h1>Welcome to Save Point Games  🥔</h1>

  <h2>Available Games</h2>
  <ul>
    <% games.forEach(game => { %>
      <li>
        <h3><%= game.name %></h3>
        <p><strong>Price:</strong> $<%= (game.price_cents / 100).toFixed(2) %></p>
        <p><strong>Condition:</strong> <%= game.condition %></p>
        <p><strong>Description:</strong> <%= game.description %></p>
      </li>
    <% }); %>
  </ul>

</body>

</html>