<!DOCTYPE html>
html lang="en">

<head>
  <title>Login</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header') %>
  <main>
    <h3>Login</h3>
    <form method = "POST" action="/login">
      <label>Name</label>
      <input
        type = "text"
        placeholder = "name"
        name = "name"
      />
      <label>Email Address</label>
      <input
        type = "email"
        placeholder = "email"
        name = "email"
      />
      <button type="submit">Login</button>
    </form>
  </main>
</body>

</html>