<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <title>Post new games</title>
</head>
<body>
  <h1>Post a game for sale</h1>
  <form action="/games/new" method="POST">
    <!-- Can use dollars but convert in backend -->
    <!-- name, price_cents, description, condition, system -->
    <label for="name">Game Title</label>
     <input type="text" id="name" name="name">

    <label for="description">Description</label>
     <input type="text" id="description" name="description">
     
     <label for="price">Price</label>
     <input type="text" id="price" name="price">

    <div class="conditions">
     <label for="condition">Condition:</label>
      <select name="condition" id="condition">
        <option value="new">New</option>
        <option value="like new">Like new</option>
        <option value="used">Used</option>
      </select>
    </div>


    <div class="systems">
      <!-- dynamically fetch generated systems values for future additions -->
       <p>Select a system:</p>
       <label for="ps5">PS5</label>
       <!-- <input type="radio" id="ps5" name="system" value="1" required> -->
 
       <label for="sega">Sega</label>
       <!-- <input type="radio" id="sega" name="system" value="2" required> -->
       <% systems.map((system) => { %>
        <label for="<%= system.name %>"><%= systems.name %></label>
        <input type="radio" id="<%= system.name %>" name="system" value="<%= system.id %>" required>
      <% }) %>
    </div>
    
    <label for="image">Image of game</label>
    <input type="url" id="image" name="image" placeholder="Image">
    <button type="submit">Submit</button> 
  </form>
</body>
</html>





